In [30]:
m = []
for i in range(2000,3201):
    if (i%7==0) and (i%5==0):
        m.append(i)

In [46]:
print(','.join(m))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [47]:
first_name = input("Enter user's first name : ")
last_name = input("Enter user's last name : ")
print(last_name + " " + first_name)

Enter user's first name : sri
Enter user's last name : ram
ram sri

In [50]:
d = 12
pi = 22/7
v = 4/3 * pi * d/2 * d/2 * d/2
int(v)

905

In [53]:
p = input("enter comma-seperated numbers:")
n = p.split(",")
print(n)

enter comma-seperated numbers:13,14,15,16
['13', '14', '15', '16']

In [63]:
for i in range(0,5):
    for j in range(i):
        print ('* ',end="")
    print('')


for i in range(5,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [64]:
string = "WE, THE PEOPLE OF INDIA,{}having solemnly resolved to constitute India into a SOVEREIGN,{}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{}and to secure to all its citizens{}"
print(string.format('\n\t','!\n\t\t','\n\t\t',':'))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens: